<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Планёрка</title>
    <link rel="preconnect" href="fonts/Choco_cooky.ttf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="app">
    <div class="header">
        <div class="container">
            <div class="logo">Планёрка</div>
            <div class="form">
                <input type="text" v-bind:value="valueInput" v-on:input="handleInput" v-on:keypress.enter="addTask">
                <button class="btn" v-on:click="addTask">Добавить в план</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>
            <span>Сделать</span>
            <span class="mask-num">{{ needDoList.length }}</span>
        </h2>
        <ul class="mask-list">
            <li v-for="(mask, index) in needDoList" :key="mask.id">
                <div>
                    <input type="checkbox" v-on:change="doCheck(index, 'need')"/>
                    <span>{{ mask.title }}</span>
                </div>
                <button class="btn-remove" v-on:click="removeMask{index, 'need'}">Удалить</button>
            </li>
        </ul>
        <h2>
            <span>Готово</span>
            <span class="mask-num">{{ completeList.length }}</span>
        </h2>
        <ul class="mask-list complete-list">
            <li v-for="(mask, index) in completeList" :key="mask.id">
                <div>
                    <input type="checkbox" v-on:change="doCheck(index, 'complete')" checked/>
                    <span>{{ mask.title }}</span>
                </div>
                <button class="btn-remove" v-on:click="removeMask{index, 'complete'}">Удалить</button>
            </li>
        </ul>
    </div>
</div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/app.js"></script>
</body>
</html>